---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Experience"
	description="What I've done"
	pubDate={new Date('Novemebr 17 2024')}
>
	<p>
		I'm a software engineer who has been working in web-devolopment since 2018, having spent the bulk of my career writing:
		<ul>
			<li>Javascript/Typescript (React on the front-end, Express/Koa on the back-end)</li>
			<li>Python (Django, Flask)</li>
			<li>Rust</li>
			<li>SQL (PostgreSQL, SQLite, MySQL)</li>
		</ul>
		Outside of writing code I also have experience working with a handful of other related technologies such as:
		<ul class="split-list">
			<li>Git</li>
			<li>Google Cloud Platform</li>
			<li>CircleCi</li>
			<li>Docker</li>
			<li>Postman</li>
			<li>POSIX shell</li>
		</ul>
	</p>
</Layout>
